---
---
<!DOCTYPE html>
<html>
<head>
	<title>Daan.ninja</title>
 	<meta charset="UTF-8">
 	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta name="mobile-web-app-capable" content="yes" />
 	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  	<meta name="theme-color" content="#2d2d2d" />

  	 <!-- windows 8 tiles -->
  	<meta name="application-name" content="Daan.ninja"/>
  	<meta name="msapplication-TileColor" content="#2d2d2d"/>
  	<!-- favicon is best linked in your html too -->
  	<link rel="icon" type="image/png" href="/icon-daan-ninja.png" />
	<link rel="apple-touch-icon" href="/icon-daan-ninja.png" />
  	<link rel="icon" href="/icon-daan-ninja.png" />
	<!-- SEO, displaying results -->
	<meta name="description" content="Mijn naam is Daan Zwaenepoel. Ik ben een 21-jarige student ICT uit Affligem. In mijn vrije tijd ben ik scoutsleider." />
	<meta name="author" content="Daan Zwaenepoel" />

  	<!-- Robots will follow all links on this site, the page is an index -->
  	<meta name="robots" content="index, follow" />

	<!-- OGP -->
	<meta property="og:url" content="https://daan.ninja/" />
	<!-- title and author -->
	<meta property="og:site_name" content="daan.ninja" />
	<meta property="og:title" content="Daan.ninja" />
	<meta property="article:author" content="Daan Zwaenepoel">
	<!-- general OG image -->
	<link rel="image_src" href="https://daan.ninja/icon-daan-ninja.png" />
	<meta property="og:image" content="https://daan.ninja/icon-daan-ninja.png" />
	<meta property="og:image:width" content="200" />
	<meta property="og:image:height" content="200" />
	<meta property="og:type" content="website" />
	<!-- description -->
	<meta name="og:description" content="Mijn naam is Daan Zwaenepoel. Ik ben een 21-jarige student ICT uit Affligem. In mijn vrije tijd ben ik scoutsleider." />


	<link rel="stylesheet" type="text/css" href="assets/css/main.css">


</head>
<body>
<section class="content">

	{% include intro.html%}

	
	{% include service.html%}

	{% include about.html%}

	{% include projects.html%}

	{% include contact.html%}

	{% include footer.html %}
	
	{% include js.html%}
	


	
</section>


</body>
</html>