<section class="about clearfix">
	<div class="wrapper">
		<h2 class="title">About me<div class="borderbut" ></div></h2>

		<p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci odio, fermentum ut ultrices id, mollis vitae nunc. Pellentesque dictum accumsan nisl ac congue. Ut nisi dui, consectetur in tortor cursus, iaculis consectetur sapien. Donec fermentum nisi in augue consectetur, et consectetur dui consequat. In quam urna, maximus at est eu, volutpat gravida nisi. Praesent placerat pharetra lacus id condimentum. Donec at interdum metus, sit amet tempus ex. Vivamus tincidunt arcu eget ipsum faucibus, in tempor purus euismod. Fusce feugiat, odio rutrum luctus sodales, sapien elit elementum velit, sed venenatis mi neque ac turpis. Ut ultricies justo lectus, eget ultricies augue iaculis nec. Proin elementum rutrum lorem. Fusce tempus, est eu sagittis pretium, purus ante feugiat purus, eu porta leo ligula non mauris. Quisque vestibulum tortor at lacus dictum, ac consectetur felis efficitur. Vestibulum non elementum massa, sit amet dapibus nisi.</p>
		<div id="instafeed"  style="display: none"></div>
		<div class="instagram">
			<div class="photo-frame">
				<div class="instpic">
					<img class="insta-img" src="">
				</div>
				<div class="comments">
					<p class="comments-text"></p>
				</div>
			</div>
		</div>
	</div>
</section>