<section class="about clearfix">
	<div class="wrapper">
		<h2 class="title">Over mezelf<div class="borderbut" ></div></h2>

		<p class="about-text">Dag Wereld! Mijn naam is Daan Zwaenepoel. Ik ben een 21-jarige student ICT uit Affligem. In mijn vrije tijd ben ik scoutsleider. <a target="_blank" class="totem" href="https://www.scoutsengidsenvlaanderen.be/totem/olifant">Goedaardige Olifant</a> is mijn totem. Mijn omgeving kent me als een vrolijke levensgenieter met een frisse, creatieve blik op het leven. Mijn missie? Mijn klanten voorzien van een degelijke website die aan hun eisen voldoet. Ik probeer elke opdracht met jeugdig enthousiasme aan te nemen. Telkens wanneer ik aan een website begin, stel ik me één vraag: hoe kan ik een originele, creatieve website afleveren die zowel praktisch als gebruiksvriendelijk is? Enkel als ik daarin slaag, ben ik tevreden met het resultaat. 
		</p>
		<div id="instafeed"  style="display: none"></div>
		<div class="instagram">
			<div class="photo-frame">
				<div class="instpic">
					<img class="insta-img" src="">
				</div>
				<div class="comments">
					<p class="comments-text"></p>
				</div>
			</div>
		</div>
	</div>
</section>