<section class="contact clearfix">
	<div class="wrapper">
		<h2 class="title">Contact<div class="borderbut" ></div></h2>
		<div class="contact-left">
			<div class="contact-info">
				<p>Kaaistraat 10, 1790 Affligem</p>
				<a href="tel:+32479928642">+32 47 99 28 642</a><br>
				<a href="mailto:info@daan.ninja">info@daan.ninja</a>
				<p>BE 0668 547 853</p>	
			</div>
			<div class="follow">
				<h3 class="follow-title">Follow me!</h3>
				<a id="twitter" class="social ir" href="https://twitter.com/daandotninja">twitter</a>
				<a id="instagram" class="social ir" href="https://www.instagram.com/daan.ninja/">instagram</a>
				<a id="linkedin"  class="social ir" href="https://www.linkedin.com/in/daanzwaenepoel">linkedin</a>
			</div>		
		</div>

		<div class="contact-right">
		<form method="post" name="Form" onsubmit="return validateForm()" action="https://formspree.io/info@daan.ninja" >
  			<input class="input" type="text" name="name" placeholder="name">
    		<input class="input" type="email" name="_replyto" placeholder="Your email">
    		<input class="input" type="text" name="_subject" placeholder="subject" />
    		<textarea class="input input-textarea" type="textarea" rows="10" name="_message" placeholder="message"></textarea>
    		<input type="hidden" name="_next" value="http://daan.ninja/" />
    		<input  class="button input-button" type="submit" value="Send">
		</form>



		</div>
	</div>
</section>