<section class="intro ">
			<div class="wrapper">
				<div class="terminal-window">
					<p class="terminal">$ <span class="type-start"></span> <span class="mistype"></span></p>
					<div class="results">
						<p>total 4</p>
						<p>drwxr-xr-x daan.ninja <a class="service-link" href="#service">Diensten</a></p>
						<p>-rw-r--r-- daan.ninja <a class="about-link"  href="#about">Over mij</a></p>
						<p>drwxrwxr-x daan.ninja <a class="projects-link" href="#projects">Projecten</a></p>
						<p>drwxrwxrwx daan.ninja <a class="contact-link" href="#contact">Contact</a></p>
						<p class="end" >$ </p>
					</div>
				</div>
			
			</div>
</section>
