<section class="projects clearfix">
	<div class="wrapper ">
		<h2 class="title">Projecten<div class="borderbut" ></div></h2>
		<div class="project-list">
			<a  target="_blank" href="http://www.bobat.be/">
				<span class="project" style="background-image: url(./assets/img/rsz_bobat.jpg);">
					<h1 class="name">BoBat</h1>
				<span>
			</a>
			<a target="_blank" href="http://www.carrosseriedevos.be/">
				<span class="project" style="background-image: url(./assets/img/rsz_carrdevos.jpg);">
					<h1 class="name">Carrosserie De Vos</h1>
				<span>
			</a>

			<p class="projects-speech"><span class="projects-speech-1">U project hier? Bel me!	</span><a href="tel:+32479928642" class="projects-speech-2">+32 47 99 28 642</a></p>
		</div>
	</div>
</section>