<section class="projects clearfix">
	<div class="wrapper ">
		<h2 class="title">Projecten<div class="borderbut" ></div></h2>
		<div class="project-list">
			
			<a href="http://www.scoutsdenderleeuw.be/">
				<span class="project" style="background-image: url(./assets/img/wScouts.png);">
					<h1 class="name">site-Scouts DDL</h1>
				<span>
			</a>

			<a href="http://daan.ninja/gewoon-sjoe/">
				<span class="project" style="background-image: url(./assets/img/gewoon-sjoe.png);">
					<h1 class="name">gewoon-sjoe</h1>
				<span>
			</a>

			<p class="projects-speech"><span class="projects-speech-1">Your project here? Let me know!	</span><a href="tel:+32479928642" class="projects-speech-2">+32 47 99 28 642</a></p>
		</div>
	</div>
</section>