<section class="service clearfix">
	<div class="wrapper">
		<h2 class="title">Diensten<div class="borderbut" ></div></h2>

		<div class="card left-card">
			<div class="service-img" id="desgin"></div>
			<div class="service-text">
				<article>
					<h1 class="service-title">Web development</h1>
					<p class="service-content">Nood aan een profesionelen responsive webiste met een jong en fris design? Ik help u graag verder om samen jou een site naar u wensen te ontwikellen.</p>
				</article>
			</div>
		</div>
		<div class="card mid-card">
			<div class="service-img" id="code"></div>
			<div class="service-text">
				<article>
					<h1 class="service-title">Freelance</h1>
					<p class="service-content">Handen tekort tijdens een project? Of gewoon geen tijd om er zelf aan te beginnen? Met mijn kennis over html,css,php en verschillende javascript frameworks zoals polymer en react help ik u graag verder.</p>
				</article>
			</div>
		</div>
		<div class="card ">
			<div class="service-img" id="support"></div>
			<div class="service-text">
				<article>
					<h1 class="service-title">IT support</h1>
					<p class="service-content">Problemen met u computer? Nood aan een nieuwe computer? Ik sta u met plezier bij met profesioneel advies.</p>
				</article>
			</div>
		</div>
		
		<div class="service-speech">
			<p class="service-moto">Website nodig? IT problemen? Aarzel niet!</p>
			<a  class="button service-button " href="#contact">Contacteer mij</a>
		</div>


	</div>
</section>
